<div class='container-fluid'>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
					Greetings from Code Excerts !!!!
				</h2>
                    <p>
                        An Attempt to blogging by an Amateur for code excerts depicting and explaining and solving day to day problems and sharing them with the world.
                    </p>
                </div>
            </div>
        </div>
        <ng-include src="'views/Home/bloglist.html'"></ng-include>
    </div>
</div>